.container {
    padding: 5px;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
}

.image{
    border: 5px solid #C1D6B8;
    box-sizing: border-box;
    width: 500px;
    height: 500px
}

.container-middle {
    position: absolute;
    bottom: 150px;
    font-size: large;
    color: white;
}

.footer {
    position: absolute; 
    bottom: 70px; 
}

button{
    width: 150px;
    background-color: #C1D6B8;
    font-size: large;
}